{
  "datacenter": "{{ datacenter | default('datacenter') }}",
  "node_name": "{{ inventory_hostname }}",
  "server": true,
  "bootstrap_expect": {{ consul_bootstrap_expect }},
  "bind_addr": "0.0.0.0",
  "client_addr": "0.0.0.0",
  "advertise_addr": "{{ bind_ip }}",{# servers usually have multiple network interfaces, so we need to specify the ip address the consul instances uses to register itself in the cluster etc. #}
  "ui": true{% if join_host is defined %},
  "retry_join": ["{{ join_host }}"]{% endif %}
}
