#jinja2: trim_blocks:False
[Unit]
Description=LMWR Solr Indexer
After=consul.service

[Service]
Type=simple{% if app_user is defined %}
User={{ app_user }}{% endif %}
ExecStart={% if java_home is defined %}{{ java_home + '/bin/java' }}{% else %}/usr/bin/java{% endif %} \
	-jar \
	-Dspring.profiles.active={{ profile }} \{% if additional_jvm_args is defined %}
	{{ additional_jvm_args }} \{% endif %}
	-Dhost.id={{ inventory_hostname }} \
	-Dspring.datasource.username={{ vault.dev.db.username }} \
	-Dspring.datasource.password={{ vault.dev.db.password }} \
	{{ solr_indexer[jenkins_context.stdout].base_directory }}/lmwr-solr-indexer.jar

SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
