geo $authentication {
    default "Authentication required";
    10.0.0.0/8 "off";
    195.16.80.0/24 "off";
    109.73.25.101/32 "off";
    84.201.74.6/32 "off";
}

server {
    listen 80;
    server_tokens off;
    server_name {{ nginx_server_names | join(" ") }};

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }
    return 404;
}

server {
    listen 443 ssl;
    server_tokens off;
    server_name {{ nginx_server_names.0 }}  {{ nginx_server_names.1 }};

    location / {
        auth_basic $authentication;
        auth_basic_user_file "{{ nginx.basic_auth_file }}";
        proxy_pass http://127.0.0.1:8080/;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    location /files/ {
        alias /var/www/content/;
        add_header 'Access-Control-Allow-Origin' '*';
    }

    ssl_certificate /etc/letsencrypt/live/{{ nginx_server_names.0 }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx_server_names.0 }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    listen 443 ssl;
    listen 444 ssl;
    server_name {{ nginx_server_names.2 }};
    server_tokens off;

    root /var/www/lmwr-dotsource;

    if ($request_uri ~ ^/dist/.*$ ) {
        rewrite ^/dist(/.*) /$1;
    }

    location / {
        auth_basic $authentication;
        auth_basic_user_file "{{ nginx.basic_auth_file }}";
    }



    ssl_certificate /etc/letsencrypt/live/{{ nginx_server_names.0 }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx_server_names.0 }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
