
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ dns_names }};


    root {{ nginx.base_directory }}/{{ nginx.last_directory }};

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }
    index index.php index.html;


    # Allow for more than 2M standard
    client_max_body_size 64M;

    location = /favicon.ico {
            log_not_found off;
            access_log off;
    }

    location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
    }

    location / {
            try_files $uri $uri/ /index.php?$args;
    }
    
    location ~ \.php$ {
        #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
        include fastcgi_params;                
        fastcgi_intercept_errors on;
        fastcgi_pass {{ fpm.socket_string }};
        fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
            expires max;
            log_not_found off;
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ letsencrypt_cert_dir }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ letsencrypt_cert_dir }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}