[Unit]
Description=FirstSpirit Server 5 LM Relaunch
ConditionPathExists=/opt/firstspirit5_lmwr/bin/fs5
After=network.target

[Service]
Type=forking
PIDFile=/opt/firstspirit5_lmwr/run/fs5-wrapper.pid
User=firstspirit
Group=firstspirit
UMask=0027
LimitNOFILE=10000
Environment=FS_JAVA_HOME=/usr/lib/jvm/java-11-openjdk/
ExecStart=/opt/firstspirit5_lmwr/bin/fs5 start
ExecStartPost=/bin/sleep 1
ExecStop=/opt/firstspirit5_lmwr/bin/fs5 stop

[Install]
WantedBy=multi-user.target