#jinja2: trim_blocks:False
[Unit]
Description=LMWL Gateway
After=consul.service

[Service]
Type=simple{% if hostvars[inventory_hostname].app_user is defined %}
User={{ hostvars[inventory_hostname].app_user }}{% endif %}
ExecStart={% if java_home is defined %}{{ java_home + '/bin/java' }}{% else %}/usr/bin/java{% endif %} \
	-jar \
	-Dspring.profiles.active={{ profile }} \{% if additional_jvm_args is defined %}
	{{ additional_jvm_args }} \{% endif %}
	-Dhost.id={{ inventory_hostname }} \
	{{ gateway_webapp[jenkins_context.stdout].base_directory }}/gateway.jar

SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
